*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:inherit ;
}
#showcases{
    background-image: url('../assets/img/Rectangle\ \(45\).png');
    .show-text{
        width: 40%;
        margin: 0 auto;
    }
}
.showcase{
    height: 75.5vh;
    background-image: url('../assets/img/Rectangle\ \(42\).png');
    background-position: center;
    background-size: cover;
    text-align: center;
        .show-text{
            align-self: center;
            padding-top: 10vh;
            h1{
                font-size: 5.5rem;
                font-weight: 300;
            }
            p{
                font-size: 1.8rem;
                padding: 2rem 0;
            }
            .buttons{
                button{
                    margin-right: 2rem;
                }
            }
        }
    
    
}
.partners{
    background-color: black;
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

@media(max-width: 1040px){
    html{
        font-size: 8px;
        #showcases{
            background-image: url('../assets/img/Rectangle\ \(45\).png');
            .show-text{
                width: 80%;
                margin: 0 auto;
            }
        }
    }

}
